### F# ###
lib/debug
lib/release
Debug
*.suo
*.user
obj
bin

### Linux ###
*~
*.swp

### vsc ###
.ionide/
.vscode/
*.code-workspace

### json ###
*.json-[0-9]
*.json-[0-9][0-9]

### data ###
res-[0-9]*

### C# ###
[Oo]bj/
[Bb]in/
.nuget/
_ReSharper.*
packages/
artifacts/
*.user
*.suo
*.userprefs
*DS_Store
*.sln.ide
